AWSTemplateFormatVersion: '2010-09-09'

Parameters:
  Username: 
    NoEcho: true
    Description: account username
    Type: String
    MinLength: 1
    MaxLength: 41
  Password: 
    NoEcho: true
    Description: account password
    Type: String
    MinLength: 8
    MaxLength: 41

Resources:
  NewUser:
    Type: AWS::IAM::User
    Properties:
      UserName: !Ref Username
      Groups:
      - !ImportValue  IamSelfServiceGroup
      LoginProfile:
        Password: !Ref Password
